<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projectos de Adalab</title>
</head>
<body>
    <header>
        <h1>Detalle del proyecto</h1>
    </header>
    <main>
        <h2>Nombre: <%=  project.name  %> </h2>
        <p>Slogan: <%=  project.slogan  %> </p>
        <p>Repo: <%=  project.repo  %></p>
        <p>Demo: <%=  project.demo  %></p>
        <p>Tech: <%=  project.slogan  %></p>
        <p>Description: <%=  project.description  %></p>
        <p>Photo: <%=  project.photo  %></p>
        <p>Url: <%=  project.url  %></p>
        <p>Autor: <%=  project.authorName  %></p>
        <p>Job: <%=  project.job  %></p>
        <p>Image: <%=  project.image  %></p>


    </main>
    
    <%- include("./partials/footer") %>
    
</body>
</html>